[submodule "wyrm"]
	path = tplib/wyrm
	url = https://gitlab.obspm.fr/greenflash/wyrm.git
	branch = dev
[submodule "tplib/cub"]
	path = tplib/cub
	url = https://github.com/NVlabs/cub.git
	branch = master
