[submodule "wyrm"]
	path = tplib/wyrm
	url = https://gitlab.obspm.fr/cosmic/ocean/wyrm.git
	branch = master
[submodule "tplib/cub"]
	path = tplib/cub
	url = https://github.com/NVlabs/cub.git
	branch = master
[submodule "tplib/cmake-modules"]
	path = tplib/cmake-modules
	url = https://github.com/bilke/cmake-modules.git
	branch = master
