astropy
docopt
h5py
ipython
matplotlib
numpy
pandas
scipy
tables
tabulate
rich
aenum
cmake
pybind11
coverage
pytest-cov
pytest-html
pytest-metadata
pyyaml
psutil
ruff
PyQt6
pyqtgraph
qtconsole
pyzmq
ipykernel